* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.ngHeader {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(123, 222, 255);
  padding: 1rem;
}

.ngButton {
  border: none;
  padding: 0.5rem 0.8rem;
  color: white;
  background-color: pink;
  border-radius: 3px;
  cursor: pointer;
}
