/* mobile style */

.ngHeader {
  display: flex;
  justify-content: space-between;
  border: 2px solid rgb(123, 222, 255);
  padding: 1rem;
}

.ngButton {
  border: none;
  padding: 0.5rem 0.8rem;
  color: white;
  background-color: pink;
  border-radius: 3px;
  cursor: pointer;
}

.userCard {
  border: 2px solid palevioletred;
  padding: 1rem;
}

.randomPostList {
  border: 2px solid greenyellow;
  display: flex;
  flex-wrap: wrap;
}

.randomPostList__item {
  border: 2px solid blueviolet;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .randomPostList__item {
    width: 33.33%;
  }
}
